@media screen and (max-device-width: 400px) {
    .header__menu, .header__contact  {
        display: none;
    }
    .header__contact  {
        display: none;
    }

    nav {
        flex-direction: column;
        row-gap: 12px;
    }
    .header__logo img {
        width: 47px;
    }

    .header__top {
        padding-top: 20px;
        position: relative;
    }

    .nav__btn__mobile {
        display: flex;
    }
    .header__logo {
        padding-left: 10px;
    }

    .header__title {
        width: 100%;
        margin-top: 120px;
        text-align: center;
    }
    .header__title h2 {
        font-size: 30px;
        line-height: 50px;

    }
    .header__title h1 {
        font-size: 40px;
        line-height: 60px;
    }
    .header__title p {
        font-size: 15px;
        line-height: 30px;
    }
    .header__title p::before,
    .header__title p::after {
        display: none;
        margin: 0;

    }

    .middle__block {
        flex-direction: column;
        top: 900px;
        width: 100%;
        margin: 0 auto;
        row-gap: 20px;

    }
    .box {
        width: 290px;
        height: 276px;
        margin: 0 auto;
    }

    .box_text {
        font-size: 22px;
        line-height: 25px;
    }
}