html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';

}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header{
    height: 100vh;
    background: url("../image/bg.png") no-repeat center/cover;
}
.nav__item img {
    width: 20px;
}

.header__top{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding-left: 100px;
}
.nav {
    display: flex;
    column-gap: 23px;
}
.nav__item a {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
}
.header__menu {
    display: flex;
    align-items: center;
    height: 70px;
}

.header__phone {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 155px;
}

.header__contact {
    display: flex;
    align-items: center;
    column-gap: 45px;
    padding-right: 100px;
    border-left: 2px solid #fff;
    padding-left: 20px;

}

.header__button {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 14px 19px;
    background: #FF7400;
    /*height: 47px;*/
    border: none;
    cursor: pointer;
}
.header__title {
    font-style: normal;
    font-weight: normal;
    margin-top: 203px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header__title h2 {
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
    margin-left: 24px;
}

.header__title h1 {
    font-size: 80px;
    line-height: 92px;
    color: #D67E35
}

.header__title p {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.header__title p::before,
.header__title p::after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background-color: #C4C4C4;
    margin: 10px;
}

.header__main .header__button {
    margin-top: 35px;
}
.header__main {
    position: relative;
}
.nav__btn__mobile {
    display: none;
    flex-direction: column;
    row-gap: 4px;
}

.nav__btn__mobile div {
    height: 3px;
    width: 30px;
    background: #FF7400;
    border-radius: 50px;
}
.middle__block {
    position: absolute;
    bottom: -240px;
    display: flex;
    justify-content: center;
    width: 100%;

}
.container {
    background-color: #E5E5E5;
    /*min-height: 300px;*/
    /*height: 50vh;*/
    height: fit-content;
}
.box {
    width: 349px;
    height: 328px;
    background: #FFFFFF;
    margin: 0 15px;
    padding: 10px;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

.box img {
    margin: 10px auto;
    display: block;
}

.word {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
}
.first__word {

    color: #2C2C2C;
}

.second__word {
    color: #c29b6f;
}
.box_text {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
}

.box__h {
    margin: 15px;
    text-align: center;
}